body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    height: 83px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #E5E7EB; /* для лёгкого отделения шапки */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 117px;
    box-sizing: border-box;
}


.nav-menu {
    display: flex;
    gap: 30px;
    font-size: 16px;
    color: #374151;
}

.nav-menu a {
    text-decoration: none;
    color: #374151;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #DB2777;
}

.header-buttons {
    display: flex;
    gap: 41px;
}

.btn-register {
    width: 110px;
    height: 40px;
    border: 2px solid #DB2777;
    border-radius: 8px;
    background: transparent;
    color: #DB2777;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.btn-register:hover {
    background-color: #DB2777;
    color: #FFFFFF;
}

.btn-login {
    width: 81px;
    height: 40px;
    border-radius: 8px;
    background-color: #DB2777;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.btn-login:hover {
    background-color: #A4205B;
}



