<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% include 'header.html' %}

     <!-- Основной блок регистрации -->
    <section class="register-section" style="margin-top: 77px;"> <!-- учитываем хедер -->
        <div class="register-content">
            <h1 class="register-title">Создать аккаунт</h1>
            <p class="register-subtitle">
                <span class="subtitle-gray">Или</span>
                <a href="{{ url_for('auth.login') }}" class="subtitle-pink">Уже есть аккаунт</a>
            </p>

            <!-- Имя и Фамилия -->
            <div class="name-row">
                <div class="name-field">
                    <label>Имя</label>
                    <input type="text" placeholder="Введите имя">
                </div>
                <div class="name-field">
                    <label>Фамилия</label>
                    <input type="text" placeholder="Введите фамилию">
                </div>
            </div>

            <!-- Email -->
            <label>Email адрес</label>
            <input type="email" placeholder="Введите email" class="full-width-input">

            <!-- Пароль -->
            <label>Пароль</label>
            <input type="password" placeholder="Введите пароль" class="full-width-input">

            <!-- Подтвердите пароль -->
            <label>Подтвердите пароль</label>
            <input type="password" placeholder="Повторите пароль" class="full-width-input">

            <!-- Чекбокс -->
            <div class="checkbox-row">
                <input type="checkbox" id="agreement">
                <label for="agreement">
                    Я согласен(а) с <a href="#">пользовательским соглашением</a> и <a href="#">политикой конфиденциальности</a>
                </label>
            </div>

            <!-- Кнопка Создать аккаунт -->
            <button class="btn-register">Создать аккаунт</button>

            <!-- Или зарегистрируйтесь через -->
            <p class="register-or">Или зарегистрируйтесь через</p>

            <!-- Google / Facebook -->
            <div class="login-social">
                <button class="social-btn">Google</button>
                <button class="social-btn">Facebook</button>
            </div>
        </div>
    </section>


{% include 'footer.html' %}